<!-- NAVIGATION -->
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/final logo.svg" alt="SmartForge Logo" class="logo-img">
                <span>SmartForge</span>
            </a>
        </div>
        <ul class="nav-menu">
            <li><a href="index.html#home" class="nav-link">Home</a></li>
            <li><a href="index.html#breakthrough" class="nav-link">Breakthrough</a></li>
            <li><a href="index.html#scaleup" class="nav-link">Scale-Up</a></li>
            <li><a href="index.html#features" class="nav-link">Features</a></li>
            <li><a href="index.html#gallery" class="nav-link">Gallery</a></li>
            <li><a href="index.html#offers" class="nav-link">Offers</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="blog.html" class="nav-link">Blog</a></li>
        </ul>
        <div class="nav-cta">
            <a href="index.html#contact" class="book-call-btn">Book a Call</a>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>

